@import "tailwindcss";
@config "../../tailwind.config.ts";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        font-family: sans-serif;
        overflow-x: hidden;
    }
}

:root{
    --background: oklch(98% 0 0);
    --background-light: oklch(91% 0 0);
    --background-modal: #00000045;
    --background-form: #292727;
    --background-form-footer: #3a3939;
    --text-100: var(--color-zinc-500);
    --text-200: var(--color-zinc-700);
    --text-300: var(--color-zinc-900);
}

.dark {
    --background-dark: oklch(22% 0 0);
    --background-dark-light: oklch(35% 0 0);
    --background-modal-dark: #ffffff30;
    --background-form-dark: var(--color-zinc-200);
    --background-form-footer-dark: var(--color-zinc-50);
    --text-dark-100: var(--color-zinc-50);
    --text-dark-200: var(--color-zinc-200);
    --text-dark-300: var(--color-zinc-300);
}

@theme inline{
    /* text */
    --color-text-0: var(--color-white);
    --color-text-100: var(--text-100);
    --color-text-200: var(--text-200);
    --color-text-300: var(--text-300);
    --color-text-dark-900: var(--color-black);
    --color-text-dark-100: var(--text-dark-100);
    --color-text-dark-200: var(--text-dark-200);
    --color-text-dark-300: var(--text-dark-300);
    --color-text-denger: var(--color-red-500);
    /* background */
    --color-background: oklch(98% 0 0);
    --color-background-dark: oklch(22% 0 0);
    /* color */
    --color-border-input: #2F2F2F;
    --color-border-input-focus: #000000;
    --color-border-input-focus-dark: #FFFFFF;
    /* header background */
    --color-header-background: var(--background);
    --color-header-background-dark: var(--background-dark);
    --color-nav-background-light: var(--background-light);
    --color-nav-background-dark-light: var(--background-dark-light);
    /* theme toggle background */
    --color-theme-toggle-background-light: var(--background-light);
    --color-theme-toggle-background-dark-light: var(--background-dark-light);
    --color-theme-toggle-icon-background: var(--background);
    --color-theme-toggle-icon-background-dark: var(--background-dark);
    /* modal background */
    --color-modal-background: var(--background-modal);
    --color-modal-background-dark: var(--background-modal-dark);
    /* form background */
    --color-form-background: var(--background-form);
    --color-form-footer-background: var(--background-form-footer);
    --color-form-background-dark: var(--color-zinc-200);
    --color-form-footer-background-dark: var(--color-zinc-50);
    /* home background */
    --color-home-background: var(--background);
    --color-home-background-dark: var(--background-dark);
}